.App { color: #000415; }
.container{ width: 80%; margin: 0 auto; }
body{background-color:#a6e1fa; } 

h1{font-size: 50px; margin:0}
h2{font-size: 25px; margin:0}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* flexing Displays */
header, .introPage, .btnEnvelope, .dev-descr-box, .templato, .footerBox,  .skillBox{ display: flex; }

/* this is the header */
header {
	z-index: 4;
  position: fixed;
  width: 100%;
  /* background-color: #4a46ab; */
  min-height: 18vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

header a{font-size: 20px; color: #a6e1fa; z-index: 4}
header:hover{background: rgba(74, 70, 171, 0.8); transition: 1s; }
header ul  { float: right; list-style: none; margin: 2px 5px; }
header ul li { float: right; list-style: none; margin:0px 20px; }
a { text-decoration: none;  }
.nav img{width: 50px; }
.nav img:hover{ transition: 3s; background-image: url('./img/githubLogoeyes.png'); background-size: 50px; transition-delay: 5s;}

#Logo{width: 220px;
   /* background-color: rgba(74, 70, 171, 0.5); padding: 15px 10% 10px 15px; 
    border-radius: 30px 20px 60px 30px; */
  }


/* this is the intro section */
.adjusta{height: 160px; width: 100%; background-color: #4a46ab;}
.intro{background-color: #4a46ab; height: 300px; }
.intContainer{ width: 60%; z-index: 2; }
/*.intContainer #hiremeBTN{ width: 100px }*/
.intContainer2{ width: 40%; z-index: 1;}
#helloThere{font-size: 30px;}
#intropic {width: 400px; margin-top:-50px; }
#introspan{ border:40px #27246c solid; display: inline-block; border-radius: 60% 60px 60px 60px ; margin-top: -20px; float: right;}


#hire-meBtn{ border: none; border-radius: 10px; background-color: #c2e812; width: 200px; padding: 12px 0;  font-size: 20px; font-weight: bold; margin: 10px 0; text-align: center; }
#hire-meBtn:hover{ letter-spacing: 1px; transition: 1s; color: black;}

.gettingHired{width: 50%; height: 400px;padding: 40px; background-color: #f1f1f1; margin: 50px auto;}
.hireBox{position: fixed; z-index: 5;}



/* this is the career buttons section */
.careerPics{width: 500px;}
.careerOptions{ align-items: center; padding: 200px 0 50px; }
#btnCode{ color: #4a46ab; font-weight: bold;  text-align: end; border-top-left-radius: 20px; border-bottom-left-radius: 20px; }
#btnArt{ color: #27246c;  border-top-right-radius: 20px; border-bottom-right-radius: 20px; font-stretch: ultra-expanded; letter-spacing: 15px }
#btnCode, #btnArt{ border: none; border-top: 30px #27246c solid; border-bottom: 50px #27246c solid;  font-size: 120px; background: none ; }

.codebtnContainer, .artbtnContainer{ display: inline-block; margin-top: 100px; }
.codebtnContainer{float: right;}
#btnCode:hover, #btnArt:hover{color: #a6e1fa; padding:0 20px; background-color: #27246c; transition: 1s;}
#codeDiv, #artDiv{ align-items: center; height: 400px; background-size: contain; background-repeat: no-repeat; background-position: center;  width: 50%; }
#codeDiv:hover, #artDiv:hover{  transition: 2s;}
#codeDiv:hover{ background-image: url('./img/bgPics/codePic.png');}
#artDiv:hover{ background-image: url('./img/bgPics/tigerPic.png');}
#codeDiv{ background-image: url('./img/bgPics/codePicBlurred.png');}
#artDiv{ background-image: url('./img/bgPics/tigerPicBlurred.png');}
.careerOptions h3{font-size: 25px; text-align: center;  }
#optLink{font-size: 18px; color: white; float: right; margin: 20px 0 0}
#optLink:hover{color: #000415; transition: 3s; }
em{color: white;}

/* As a Webdevloper */
.dev-descr-box h3{color: #27246c; text-align: left; width: 60%;}
.proWorks h1{color: #4a46ab; font-size: 40px;text-align: center; }
.proWorks h1{margin: 50px 0; }

.skillBox{  width: 35%; margin-left: 5%; background-color: #f1f1f1; border-radius: 20px; padding: 30px; }
.skillBox h4{display: inline; text-align: center; border: 2px red solid;}
.circleDiv{border: 2px #27246c solid; border-radius: 100%; width: 100px; height: 100px;}

/* project templates  */
#tempHold{ border-top: 2px  #27246c solid; border-right: 2px  #27246c solid; margin: 20px 0;}
.templato{ margin: 70px 0; border: 10px white solid; border-radius: 50px; border-top-right-radius: 30%; width: 60%; padding: 30px;}
 .templatedescr{   width: 70%; padding: 0 20px; margin-top: -70px }
 .templatedescr h1{ color: #27246c; background-color: #a6e1fa; margin: 0; width: fit-content; font-size: 40px; padding: 0 20px;  }
 .templatedescr p{ color: #27246c; width: fit-content; font-size: 15px;   }
 #skillsUsed{  margin: 10px 0 }
 #skillsUsed  #toolsUsed{  color: #4a46ab; display: inline-block; margin:0 5px; }
 #toolsHeading{ margin: 10px 0 0px;}
 #skillImg{width: 50px }

.imgHold{ width: 30%; float: left;  }
.templato img{width: 650px; border: 10px #a6e1fa solid;}

 .templatedescr h3{ text-align: left; margin: 10px 0; font-size: 20px }

 #date{float: right; color: white; font-size: 18px}




/* this is the gallery */
.gallery{background-color: #000415; padding: 20px 0; }
.gallery h2, .employers h2{color: #a6e1fa; font-size: 40px; text-align: center; padding: 50px 0; } /* this is both for employers and gallery  */
.eachImg{margin: 0; width: 250px;  }
.eachImg:hover{ margin: 10px auto; width: 400px; transition: 4s }
.eachImg:visited{ margin: 0px auto; width: 250px; transition: 4s }


/* this is emplyers */
.employers{background-color: #f1f1f1;  }
.employers h2{color: #000415;}
.emploHolder{ width: fit-content; margin: 0 auto; padding: 0px 0 50px;}
#company{margin: 0 10px; width: 200px}

/* this is the footer */
footer{background-color: #000415; padding-top: 30px;   }
.footerbody0{width: 70%}
.footerbody{ background-color: #000000; width: fit-content; height: fit-content; padding: 30px; color: #c2e812; float: right; }
footer #Logo{width: 150px;}
.footerBox{height:230px; }
#email{ color: #4a46ab;}
.declarSec{  margin-top:30px; border-top: 3px #4a46ab solid; background-color: #000000; color: #a6e1fa; text-align: center; font-size: 15px; padding: 30px 0;}

.sMedia{width: 45px; margin:0px 5px; height: 45px;display: inline-block; background-repeat: none; background-size: 150px; }
#fb{background-image: url('./img/socialMedia.png'); background-position: -4px -5px;}
#linkedIn{background-image: url('./img/socialMedia.png'); background-position: -100px -58px;}
#insta{background-image: url('./img/socialMedia.png'); background-position: -53px -110px;}
#twi{ background-image: url('./img/socialMedia.png'); background-position: -5px -57px; }






